
.left-sidebar{
    border-right: 1px solid #ccc;
    padding: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sidebar-logo{
    margin-bottom: 25px;
}